# -----------------------------------------------------------------------------
# Copyright (c) 2023, NVIDIA CORPORATION. All rights reserved.
#
# NVIDIA CORPORATION and its licensors retain all intellectual property
# and proprietary rights in and to this software, related documentation
# and any modifications thereto. Any use, reproduction, disclosure or
# distribution of this software and related documentation without an express
# license agreement from NVIDIA CORPORATION is strictly prohibited.
# -----------------------------------------------------------------------------

_parent_: projects/sdf_GS_gengeration/configs/base.yaml

model:
    # type: projects.sdf_GS_gengeration.mini_model
    object:
        sdf:
            mlp:
                inside_out: True
            encoding:
                coarse2fine:
                    init_active_level: 4
        s_var:
            init_val: 1.4
    appear_embed:
        enabled: False

GS_pretrainer:
    enabled: True
    gaussian_path: /home/sunny/project/neuralangelo_sdf/GS_models/scan24/log_full_test_r2/point_cloud/iteration_30000/point_cloud.ply
    data_root: /home/sunny/data/DTU/scan24
    normalize: True
    normalize_mode: camera_align
    gs_cameras_path: /home/sunny/project/neuralangelo_sdf/GS_models/scan24/log_full_test_r2/cameras.json
    apply_gl_to_cv: False
    force_full_levels: False
    dump_points_path: gs_pretrain_points.ply
    dump_points_num: 0
    num_iters: 50000
    batch_size: 10000
    radius_std: 0.1
    sdf_mode: ellipsoid
    loss_type: l1
    eikonal_weight: 0.05
    opacity_thresh: 0.05
    max_gaussians: 0
    input_pts: /home/sunny/project/neuralangelo_sdf/GS_models/scan24/log_full_test_r2/point_cloud/iteration_30000/point_cloud.pts
    sample_std: 0.05
    N_samples: 1
    clamping_distance: 0.1
    max_points: 0
    log_interval: 100
    optim:
        type: AdamW
        params:
            lr: 1.0e-3
            weight_decay: 1e-2
        sched:
            type: constant

data:
    type: projects.sdf_GS_gengeration.data
    # root: /home/haochen/data/DTU/scan24
    root: /home/sunny/data/DTU/scan24
    train:
        image_size: [1200,1600]
        batch_size: 1
        cut_scale: 0.4
        subset:
    val:
        image_size: [300,400]
        batch_size: 1
        subset: 1
        max_viz_samples: 16
